<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Descartes PetStore Web UI</display-name>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	<env-entry>
		<env-entry-name>servicePort</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>8080</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>registryURL</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>http://localhost:8080/tools.descartes.petstore.registry/rest/services/</env-entry-value>
	</env-entry>
	<error-page>
		<location>/error</location>
	</error-page>
</web-app>