/.project
/.classpath
/.metadata/
/.settings/
RemoteSystemsTempFiles/
Servers/
/.recommenders
services/tools.descartes.petstore.image/test/
limbo_checkstyle.out.xml
interfaces/tools.descartes.teastore.entities/.classpath
*.iml
.idea/
/e2e-tests/node_modules/
/e2e-tests/cypress/videos
/e2e-tests/cypress/screenshots
target/
