/.project
/.classpath
/.metadata/
/.settings/
RemoteSystemsTempFiles/
Servers/
/.recommenders
services/tools.descartes.petstore.image/test/
limbo_checkstyle.out.xml
interfaces/tools.descartes.teastore.entities/.classpath
*.iml
.idea/
