<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Descartes TeaStore Persistence Provider</display-name>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>persistencerest</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>tools.descartes.teastore.persistence.rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>persistencerest</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<env-entry>
		<env-entry-name>servicePort</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>8080</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>registryURL</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>http://localhost:8080/tools.descartes.teastore.registry/rest/services/</env-entry-value>
	</env-entry>
	<filter>
		<filter-name>TrackingFilter</filter-name>
		<filter-class>tools.descartes.teastore.registryclient.rest.TrackingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TrackingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<absolute-ordering/>
</web-app>
